.tt_site_header{
    width: 100%;
    padding: 2rem 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;

    &:before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, $theme_black, transparent);
    }
    .navbar-brand{
        img{
            filter: invert(1);
        }
    }
    .navbar-expand-lg .navbar-collapse{
        flex: 0;
    }

    .navbar{
        padding: 10px 40px;
        justify-content: space-between;
    }
    .nav-item{
        padding: 0 30px;
    }
    .nav-link{
        font-size: 2.5rem;
        color: $theme_white;
        font-weight: 700;
        padding: 0;

        &:hover, &:focus, &.active{
            color: $theme_base_color;
        }
    }
}
.tt_site_header_social{
    li{
        display: block;
        margin-right: 2.5rem;

        &:last-child{
            margin-right: 0;
        }
    }
    a{
        font-size: 2.5rem;
        color: $theme_white;

        &:hover, &:focus{
            color: $theme_base_color;
        }
    }
}