// THEME FONT
$theme_font: 'Macondo';

// THEME COLOR
$theme_color: #01539d;
$theme_base_color: #eea47f;
$theme_gradient: linear-gradient(45deg, $theme_color, $theme_base_color);
$theme_white: #FFFFFF;
$theme_white_light: #CCCCCC;
$theme_grey: #787878;
$theme_black: #000000;
$theme_black_light: #333333;